.header {
  padding: 55px 0 40px 0;

  .title {
    float: left;
    margin: 0;
    width: auto;
  }

  nav {
    float: right;
    margin: 8px 0 0 0;
    text-align: right;
    ul {
      margin: 0; padding: 0;
    }
    li {
      float: left;
      display: inline;
      list-style: none;
      margin: 0 0 0 80px;
      text-transform: uppercase;
      &:first-child {
        margin: 0;
      }
      a {
        color: $white;
        padding: 10px;
        &:hover {
          text-decoration: line-through;
        }
      }
    }
  }

  &.main_header {
    background: $white;
    padding: 55px 0 40px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    .title {
      float: left;
      margin: 0;
      padding: 0;
      width: auto;
    }

    nav {
      float: right;
      margin: 8px 0 0 0;
      text-align: right;
      ul {
        margin: 0; padding: 0;
      }
      li {
        display: inline;
        list-style: none;
        margin: 0 0 0 80px;
        text-transform: uppercase;
        &:first-child {
          margin: 0;
        }
        a {
          color: $black;
          padding: 10px;
          &:hover {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}