/*-------------------------------------------------------------------------
	
	TOUCHPOINT 2015
	
	TABLET STRUCTURE
	-----------------------------------
	
	- Work Section
	- Who Section

-------------------------------------------------------------------------*/

.wrapper {
  width: 1280px;
}

#carousel {
  position: relative;
  min-height: 550px;
  text-align: center;
  
  h2 {
    font-size: 132px;
    margin: 50px 0;
  }
  
  p {
    line-height: 30px;
    padding: 0 350px;
  }

  /*
  This is the visible area of you carousel.
  Set a width here to define how much items are visible.
  The width can be either fixed in px or flexible in %.
  Position must be relative!
  */
  .jcarousel {
      position: relative;
      overflow: hidden;
  }
  
  /*
  This is the container of the carousel items.
  You must ensure that the position is relative or absolute and
  that the width is big enough to contain all items.
  */
  .jcarousel ul {
      width: 20000em;
      position: relative;
  
      /* Optional, required in this case since it's a <ul> element */
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  /*
  These are the item elements. jCarousel works best, if the items
  have a fixed width and height (but it's not required).
  */
  .jcarousel li {
      /* Required only for block elements like <li>'s */
      float: left;
      min-height: 550px;
      min-width: 1280px;
      padding: 0 100px;
      position: relative;
  }
  
  .jcarousel-pagination {
    position: absolute; bottom: 40px;
    text-align: center;
    width: 100%;
    a {
      display: inline-block;
      background: $white;
      border-radius: 10px;
      height: 15px;
      width: 15px;
      margin: 0 5px;
      text-indent: -99999px;
      &.active {
        background: $teal;
      }
    }
  }
}
/* WORK SECTION ------------------------------------------------------------*/ 

.video_overlay {
  display: none;
  background: $black;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 50px;
  position: fixed; left: 0; top: 0;
  z-index: 100;
  
  h4 {
    position: absolute; right: 50px; top: 50px;
  }

  .fluid-width-video-wrapper {
    margin: 50px 0;
  }
  
  .button {
    font-size: 14px;
  }
}

#work {
  padding: 0 0 20px 0;
  .category_list {
    li {
      &:hover {
        text-decoration: line-through;
      }
      .active {
        text-decoration: line-through;
      }
    }
  }
  .video {
    cursor: pointer;
    float: left;
    position: relative; 
    opacity: .3;
    width: 426px; height: 250px;
    overflow: hidden;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    img {
      height: 100%;
      width: 100%;
    }
    &.active {
      opacity: 1;
    }
    .overlay {
      @include opacity(0);
      background: rgba(0,0,0,.6);
      font-size: 14px;
      padding: 20px;
      position: absolute; left: 0; top: 0; 
      text-align: center;
      text-transform: uppercase;
      width: 100%; height: 100%;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:hover {
        @include opacity(1);
      }
      h3 {
        margin: 0;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
      .inner {
        @include vertical-align;
      }
    }
  }
  
}

#about {
  background: $cool-grey;
  color: $black;
  padding: 55px 0;
  .about_intro {
    font-family: "Fjalla One", sans-serif;
    font-size: 36px;
    line-height: 75px;
    letter-spacing: .3em;
    text-transform: uppercase;
    width: 803px;
    span {
      display: block;
      font-size: 12px;
      font-family: $courier;
      letter-spacing: .2em;
    }
  }
  .about_sub {
    background: $black;
    .background {
      position: absolute; left: 0; top: 0;
      height: 100%;
    }
  }
}

/* WHO SECTION ------------------------------------------------------------*/

#who {
  padding: 100px 0 0 0;
  h2 {
    font-size: 48px;
    letter-spacing: .4em;
    width: 50%;
  }
  .left {
    float: left;
    padding: 0 50px 0 0;
    width: 390px;
    p {
      line-height: 30px;
    }
    ul {
      list-style: none;
      margin: 0; padding: 0;
      li {
        margin: 0 0 20px 0;
      }
    }
  }
  .grid {
    float: right;
    overflow: hidden;
    width: 890px;
    .person {
      float: left;
      position: relative;
      width: 222px; height: 250px;
      &.vip {
        width: 445px;
      }
      .overlay {
        @include opacity(0);
        background: rgba(0,0,0,.6);
        font-size: 14px;
        position: absolute; left: 0; top: 0; 
        text-align: center;
        text-transform: uppercase;
        width: 100%; height: 100%;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover {
          @include opacity(1);
        }
        a {
          color: $white;
          display: block;
          height: 100%; width: 100%;
          padding: 20px;
        }
        h3 {
          margin: 0;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
        .inner {
          @include vertical-align;
        }
      }
    }
  }
  &.full {
    h2 {
      font-size: 24px;
    }
    .grid {
      float: none;
      width: 100%;
      
      .person {
        height: 239px; width: 213px;
      }
    }
  }
}

/* CONTACT SECTION ------------------------------------------------------------*/

#contact {
  padding: 65px 0;
  h2 {
    margin-bottom: 100px;  
  }
  
  h3, .phone {
    font-family: $fjalla;
    font-size: 24px;
    letter-spacing: .3em;
    margin: 0;
    text-transform: uppercase;
  }
  
  .phone {
    margin-bottom: 120px;
  }
  
  .left {
    float: left;
    width: 325px;
  }
  .right {
    margin: 0 0 0 345px;
    .button {
      display: inline-block;
      margin-bottom: 94px;
    }
    .email {
      color: $white;
      font-family: $fjalla;
      font-size: 18px;
      letter-spacing: .3em;
    }
  }
}