.button {
	padding: 7px 25px;
	border: 1px solid #fff;
	font-size: 10px;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 7px;
	color: #fff;
	&:hover {
  	background: #fff;
  	color: #000;
	}
}