/*-------------------------------------------------------------------------
	
	TOUCHPOINT FILMS
	
	BUTTON STYLES
	-----------------------------------
	
	- Basic

-------------------------------------------------------------------------*/

.button {
	padding: 10px 40px;
	border: 2px solid #fff;
	font-size: 25px;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	color: #fff;
}