/*-------------------------------------------------------------------------
	
	TOUCHPOINT 2015
	
	HEADER STYLES
	-----------------------------------
	
	- Global Headers

-------------------------------------------------------------------------*/

/* Global Headers ------------------------------------------------------------*/

.header {
  overflow: hidden;
  padding: 55px 0 40px 0;
  
  .title {
    float: left;
    margin: 0;
    padding: 0;
  }
  
  nav {
    float: right;
    margin: 8px 0 0 0;
    text-align: right;
    ul {
      margin: 0; padding: 0;
    }
    li {
      list-style: none;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      a {
        color: $white;
        padding: 10px;
        &:hover {
          text-decoration: line-through;
        }
      }
    }
  }
  &.main_header {
    background: $white;
    padding: 25px 0;
    .title {
      float: none;
      margin: 0 auto;
      padding: 0;
      width: 40%;
    }
    
    nav {
      float: none;
      margin: 15px 0 0 0;
      text-align: center;
      ul {
        margin: 0; padding: 0;
      }
      li {
        display: inline;
        list-style: none;
        margin: 0 0 0 5%;
        text-transform: uppercase;
        &:first-child {
          margin: 0;
        }
        a {
          color: $black;
          padding: 10px;
          &:hover {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}