/*-------------------------------------------------------------------------
	
	TOUCHPOINT 2015
	
	BASE STRUCTURE (MOBILE FIRST)
	-----------------------------------
	
	- Body & Wrapper

-------------------------------------------------------------------------*/

@import 'pages/people';
@import 'pages/project';

/* BODY & WRAPPER -------------------------------------------------------*/

body {
  background: $black;
  color: $white;
  font-family: $courier;
  font-size: 12px;
}

section {
  overflow: hidden;
}

.wrapper {
  width: 90%;
}

/* CAROUSEL -------------------------------------------------------*/

#carousel {
  position: relative;
  min-height: 250px;
  text-align: center;
  
  h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  p {
    line-height: 15px;
    padding: 0 50px;
  }

  .sub {
    @include vertical-align;
    z-index: 5;
  }
  
  .video-js {
    display: none;
  }

  /*
  This is the visible area of you carousel.
  Set a width here to define how much items are visible.
  The width can be either fixed in px or flexible in %.
  Position must be relative!
  */
  .jcarousel {
      position: relative;
      overflow: hidden;
  }
  
  /*
  This is the container of the carousel items.
  You must ensure that the position is relative or absolute and
  that the width is big enough to contain all items.
  */
  .jcarousel ul {
      width: 20000em;
      position: relative;
  
      /* Optional, required in this case since it's a <ul> element */
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  /*
  These are the item elements. jCarousel works best, if the items
  have a fixed width and height (but it's not required).
  */
  .jcarousel li {
      /* Required only for block elements like <li>'s */
      float: left;
      height: 250px;
      padding: 0 50px 50px 50px;
      position: relative;
      .video-js {
        position: absolute; left: 0; top: 0;
        height: 100%;
        width: 100%;
        .vjs-tech {
          height: auto;
        }
      }
  }
  
  .jcarousel-pagination {
    position: absolute; bottom: 40px;
    text-align: center;
    width: 100%;
    a {
      display: inline-block;
      background: $white;
      border-radius: 10px;
      height: 10px;
      width: 10px;
      margin: 0 10px;
      text-indent: -99999px;
      &.active {
        background: $teal;
      }
    }
  }
}

/* WORK SECTION ------------------------------------------------------------*/ 

.video_overlay {
  display: none;
  background: $black;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
  position: fixed; left: 0; top: 0;
  z-index: 100;
  
  h4 {
    position: absolute; right: 20px; top: 20px;
  }

  .fluid-width-video-wrapper {
    margin: 20px 0;
  }
  
  .button {
    font-size: 14px;
  }
}

#work {
  padding: 0 0 20px 0;
  .category_list {
    li {
      &:hover {
        text-decoration: line-through;
      }
      .active {
        text-decoration: line-through;
      }
    }
  }
  .video {
    display: none;
    cursor: pointer;
    position: relative; 
    width: 100%; height: auto;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
    &.active {
      display: block;
    }
    .overlay {
      @include opacity(0);
      background: rgba(0,0,0,.6);
      font-size: 14px;
      padding: 20px;
      position: absolute; left: 0; top: 0; 
      text-align: center;
      text-transform: uppercase;
      width: 100%; height: 100%;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:hover {
        @include opacity(1);
      }
      h3 {
        margin: 0;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
      .inner {
        @include vertical-align;
      }
    }
  }
  
}

/* WORK SECTION ------------------------------------------------------------*/ 

#about {
  background: $cool-grey;
  color: $black;
  padding: 55px 0 0 0;
  .about_intro {
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: .2em;
    text-transform: uppercase;
    span {
      display: block;
      font-size: 10px;
      font-family: $courier;
      letter-spacing: .2em;
    }
  }
  .about_sub {
    background: $black;
    color: $white;
    margin-top: 150px;
    position: relative;
    .wrapper {
      z-index: 5;
    }
    .background {
      display: none;
    }
    .saffer {
      float: left;
      background: url(assets/images/saffer.png) center 0 no-repeat;
      background-size: 200px;
      margin: -100px 0 0 0;
      padding: 195px 0 0 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      h3 {
        font-family: $fjalla;
        font-size: 24px;
        letter-spacing: .2em;
        margin-bottom: 0;
      }
      p:not(.sub) {
        line-height: 27px;
        letter-spacing: 1px;
      }
      .sub {
        margin-bottom: 40px;
      }
    }
    .type_list {
      font-family: $fjalla;
      font-size: 35px;
      letter-spacing: .2em;
      line-height: 60px;
      list-style: none;
      margin: 0;
      padding: 300px 0 0 0;
      text-align: right;
    }
    .budget {
      float: left;
      font-family: $fjalla;
      font-size: 35px;
      letter-spacing: .2em;
      margin: 0;
      text-transform: uppercase;
      width: 100%;
      span:not(.sub) {
        display: block;
        font-family: $courier;
        font-size: 12px;
        letter-spacing: .5em;
      }
      .sub {
        font-size: 20px;
      }
    }
    .about_copy {
      background: $cream;
      color: $black;
      margin: 400px 0 100px 0;
      padding: 40px;
      width: 100%;
      h2 {
        margin-top: 0;
        text-decoration: none;
      }
    }
  }
}

/* WHO SECTION ------------------------------------------------------------*/

#who {
  .left {
    p {
      line-height: 30px;
    }
    ul {
      list-style: none;
      margin: 0; padding: 0;
      li {
        margin: 0 0 20px 0;
      }
    }
  }
  .grid {
    float: right;
    overflow: hidden;
    width: 100%;
    .person {
      float: left;
      position: relative;
      width: 50%; height: auto;
      &.vip {
        width: 100%;
      }
      .overlay {
        @include opacity(0);
        background: rgba(0,0,0,.6);
        font-size: 14px;
        position: absolute; left: 0; top: 0; 
        text-align: center;
        text-transform: uppercase;
        width: 100%; height: 100%;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover {
          @include opacity(1);
        }
        a {
          color: $white;
          display: block;
          height: 100%; width: 100%;
          padding: 20px;
        }
        h3 {
          margin: 0;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
        .inner {
          @include vertical-align;
        }
      }
    }
  }
  &.full {
    h2 {
      font-size: 24px;
    }
    .grid {
      float: none;
      width: 100%;
      
      .person {
        height: auto; width: 50%;
      }
    }
  }
}

/* CONTACT SECTION ------------------------------------------------------------*/

#contact {
  padding: 40px 0;
  
  h3, .phone {
    font-family: $fjalla;
    font-size: 15px;
    letter-spacing: .3em;
    margin: 0;
    text-transform: uppercase;
  }
  
  p {
    margin: 5px 0 20px 0;
  }
  
  .email {
    margin-bottom: 50px;
    a {
      color: $white;
      text-decoration: underline;
    }
  }
  .phone {
    margin-bottom: 10px;
  }
  
  .right {
    .button {
      display: inline-block;
      margin-bottom: 50px;
    }
    .email {
      color: $white;
      font-family: $fjalla;
      font-size: 12px;
      letter-spacing: .2em;
    }
  }
}
