/*-------------------------------------------------------------------------
	
	TOUCHPOINT 2015
	
	BASE STRUCTURE (MOBILE FIRST)
	-----------------------------------
	
	- Body & Wrapper

-------------------------------------------------------------------------*/

/* BODY & WRAPPER -------------------------------------------------------*/

body {
  background: $black;
  color: $white;
  font-family: $courier;
  font-size: 12px;
}

section {
  overflow: hidden;
}