@import url(../css/normalize.css);
/*-------------------------------------------------------------------------
	
	ZACK GINIES SASS PROJECT
	
	BASE STYLE IMPORTS
	-----------------------------------
	
	- Normalize
	- Mixins
	- Helpers
	- Core Styles
	- Structure
	- Header 
	- Footer
	- Media Queries
	- Retina

-------------------------------------------------------------------------*/
/* NORMALIZE ------------------------------------------------------------*/
/* MIXINS ---------------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES SASS PROJECT
	
	MIXINS
	-----------------------------------
	
	- Rounded Corners
	- Box Sizing
	- Opacity

-------------------------------------------------------------------------*/
/* HELPERS --------------------------------------------------------------*/
/* CORE STYLES ----------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	TOUCHPOINT FILMS
	
	TYPOGRAPHY
	-----------------------------------
	
	- Headers

-------------------------------------------------------------------------*/
/* line 12, ../../resources/sass/core/_typography.scss */
h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }

/* line 20, ../../resources/sass/core/_typography.scss */
h2 {
  font-size: 66px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  text-decoration: line-through; }

/* line 27, ../../resources/sass/core/_typography.scss */
h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }

/* line 35, ../../resources/sass/core/_typography.scss */
p {
  margin-top: 0; }

/* line 39, ../../resources/sass/core/_typography.scss */
a {
  color: #fff; }

/*-------------------------------------------------------------------------
	
	TOUCHPOINT FILMS
	
	BUTTON STYLES
	-----------------------------------
	
	- Basic

-------------------------------------------------------------------------*/
/* line 12, ../../resources/sass/core/_buttons.scss */
.button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #fff; }

/* STRUCTURE ------------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	TOUCHPOINT FILMS
	
	MOBILE STYLES
	-----------------------------------
	
	- Body & Wrapper
	- Masthead
	- Sections

-------------------------------------------------------------------------*/
/* BODY & WRAPPER ---------------------*/
/* line 16, ../../resources/sass/_structure.scss */
body {
  background: #000;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Courier", sans-serif;
  text-align: center;
  color: #fff; }

/* line 26, ../../resources/sass/_structure.scss */
#big-video-wrap {
  display: none;
  z-index: -1; }

/* line 31, ../../resources/sass/_structure.scss */
header {
  background: #fff;
  padding: 10px;
  color: #000; }

/* MASTHEAD ---------------------*/
/* line 39, ../../resources/sass/_structure.scss */
.masthead {
  display: none;
  padding: 0 0 50px 0;
  margin: 0 0 50px 0; }

/* line 45, ../../resources/sass/_structure.scss */
.masthead.mobile {
  display: block; }

/* SECTIONS ---------------------*/
/* line 51, ../../resources/sass/_structure.scss */
.offices {
  margin: 0 0 100px 0; }
  /* line 54, ../../resources/sass/_structure.scss */
  .offices p {
    margin: 0 0 40px 0;
    letter-spacing: 2px;
    line-height: 20px; }

/* line 62, ../../resources/sass/_structure.scss */
#contact div {
  margin: 0 0 100px 0; }
  /* line 65, ../../resources/sass/_structure.scss */
  #contact div p {
    line-height: 17px; }

/* OVERLAY --------------------*/
/* line 73, ../../resources/sass/_structure.scss */
.overlay {
  display: none; }

/* HEADER ---------------------------------------------------------------*/
/* FOOTER ---------------------------------------------------------------*/
/* MEDIA QUERIES --------------------------------------------------------*/
/*-------------------------------------------------------------------------
	
	ZACK GINIES SASS PROJECT
	
	MEDIA QUERIES
	-----------------------------------
	
	- Tablets & Smaller Laptops
	- Desktop
	- Extra Large Screen
	- Print

-------------------------------------------------------------------------*/
/* TABLET & SMALLER LAPTOPS ---------------------------------------------*/
@media screen and (min-width: 768px) {
  /*-------------------------------------------------------------------------
  	
  	TOUCHPOINT FILMS
  	
  	TABLET + DESKTOP
  	-----------------------------------
  	
  	- Body & Wrapper
  	- Header
  	- Sections
  
  -------------------------------------------------------------------------*/
  /* line 14, ../../resources/sass/mq/tablet/_structure.scss */
  .mobile {
    display: none !important; }

  /* BODY & WRAPPER ------------*/
  /* line 20, ../../resources/sass/mq/tablet/_structure.scss */
  body {
    text-align: left;
    overflow-x: hidden; }

  /* line 25, ../../resources/sass/mq/tablet/_structure.scss */
  #big-video-wrap {
    display: block; }

  /* line 29, ../../resources/sass/mq/tablet/_structure.scss */
  section, .masthead {
    padding: 50px; }

  /* line 33, ../../resources/sass/mq/tablet/_structure.scss */
  .masthead {
    display: block; }
    /* line 36, ../../resources/sass/mq/tablet/_structure.scss */
    .masthead h2 {
      text-decoration: none; }
      /* line 38, ../../resources/sass/mq/tablet/_structure.scss */
      .masthead h2 span {
        text-decoration: line-through; }
    /* line 43, ../../resources/sass/mq/tablet/_structure.scss */
    .masthead a {
      margin: 0 20px 0 0; }

  /* HEADER ------------*/
  /* line 50, ../../resources/sass/mq/tablet/_structure.scss */
  header {
    background: transparent;
    padding: 50px;
    color: #fff; }

  /* line 56, ../../resources/sass/mq/tablet/_structure.scss */
  #contact {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 0 0 0;
    width: 100%;
    overflow: hidden; }
    /* line 62, ../../resources/sass/mq/tablet/_structure.scss */
    #contact div {
      float: left;
      margin: 0 10px 50px 10px;
      height: 100px;
      width: 20%; }
      /* line 68, ../../resources/sass/mq/tablet/_structure.scss */
      #contact div:first-child {
        padding-left: 40px; }
      /* line 73, ../../resources/sass/mq/tablet/_structure.scss */
      #contact div h3 {
        margin-top: 0; }

  /* line 79, ../../resources/sass/mq/tablet/_structure.scss */
  .overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    height: 100%;
    width: 100%; }
    /* line 89, ../../resources/sass/mq/tablet/_structure.scss */
    .overlay.active {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s; }
    /* line 95, ../../resources/sass/mq/tablet/_structure.scss */
    .overlay div {
      position: relative;
      top: 50%;
      width: 500px;
      height: 320px;
      margin: -160px auto 0 auto; }
    /* line 102, ../../resources/sass/mq/tablet/_structure.scss */
    .overlay iframe {
      display: block;
      margin: 20px 0 0 0; } }
/* DESKTOP -------------------------------------------------------------*/
/* EXTRA LARGE SCREEN --------------------------------------------------*/
/* PRINT ---------------------------------------------------------------*/
@media print {
  /* Welcome to Compass. Use this file to define print styles.
   * Import this file using the following HTML or equivalent:
   * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */ }
/* RETINA ---------------------------------------------------------------*/
