/*-------------------------------------------------------------------------
	
	TOUCHPOINT 2015
	
	TABLET STRUCTURE - PEOPLE
	-----------------------------------
	
	- Masthead
	- Biography
	- Work

-------------------------------------------------------------------------*/

.single-people {

/* MASTHEAD -----------------------------*/

#masthead { 
  background-position: center center;
  background-size: cover;
  height: 200px;
  
  .wrapper {
    height: 100%;
  }
  
  .copy {
    position: absolute; left: 0; bottom: 20px;
  }
}

/* BIOGRAPHY -----------------------------*/

#bio {
  background: $white;
  color: $black;
  padding: 20px 0;
  
  p {
    line-height: 2em;
  }
}

/* WORK -----------------------------*/

#work {
  background: $white;
  color: $black;
  
  .overlay {
    color: $white;
  }
}

/* ROSTER -----------------------------*/

#who {
  padding: 40px 0;
}


}