/*-------------------------------------------------------------------------
	
	TOUCHPOINT FILMS
	
	TABLET + DESKTOP
	-----------------------------------
	
	- Body & Wrapper
	- Header
	- Sections

-------------------------------------------------------------------------*/

.mobile {
	display: none !important;
}

/* BODY & WRAPPER ------------*/

body {
	text-align: left;
}

#big-video-wrap {
	display: block;
}

section, .masthead {
	padding: 50px;
}

.masthead {
	display: block;
	
	h2 {
		text-decoration: none;
		span {
			text-decoration: line-through;
		}
	}
	
	a {
		margin: 0 20px 0 0;
	}
}

/* HEADER ------------*/

header {
	background: transparent;
	padding: 50px;
	color: #fff;
}

#contact {
	background: rgba(0,0,0,.5);
	padding: 50px 0 0 25px;
	overflow: hidden;

	div {
		float: left;
		margin: 0 10px 50px 10px;
		height: 100px;
		width: 20%;
		
		h3 {
			margin-top: 0;
		}
	}
}

.overlay {
	display: block;
	visibility:hidden;
	opacity:0;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;	
	position: absolute; left: 0; top: 0;
	background: #000;
	height: 100%;
	width: 100%;
	
	&.active{
		visibility:visible;
		opacity:1;
		transition-delay:0s;
	}
	
	div {
		position: relative; top: 50%;
		width: 500px;
		height: 320px;
		margin: -160px auto 0 auto;
	}
	
	iframe {
		display: block;
		margin: 20px 0 0 0;
	}
}