/*-------------------------------------------------------------------------
	
	TOUCHPOINT FILMS
	
	MOBILE STYLES
	-----------------------------------
	
	- Body & Wrapper
	- Masthead
	- Sections

-------------------------------------------------------------------------*/

/* BODY & WRAPPER ---------------------*/

body {
	background: #000;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: "Courier", sans-serif;
	text-align: center;
	color: #fff;
}

#big-video-wrap {
	display: none;
	z-index: -1;
}

header {
	background: #fff;
	padding: 10px;
	color: #000;
}

/* MASTHEAD ---------------------*/

.masthead {
	display: none;
	padding: 0 0 50px 0;
	margin: 0 0 50px 0;
}

.masthead.mobile {
	display: block;
}

/* SECTIONS ---------------------*/

.offices {
	margin: 0 0 100px 0;
	
	p {
		margin: 0 0 40px 0;
		letter-spacing: 2px;
		line-height: 20px;
	}
}

#contact {
	div {
		margin: 0 0 100px 0;
		
		p {
			line-height: 17px;
		}
	}
}

/* OVERLAY --------------------*/

.overlay {
	display: none;
}